@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.homeWrapper {
    background: linear-gradient(to bottom, transparent, #0f1016);
}

.hs-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;


}

.hs-imageContainer {
    position: fixed;
    display: flex;
    margin: auto;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    z-index: -1;

}

.hs-image-word-mask {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    transform: rotate(-90deg);
    margin: auto;
    /* mix-blend-mode: multiply; */
}

.hs-image-word-mask h1 {
    font-size: 150px;
    display: flex;
    letter-spacing: -10px;

}

.hs-imageContainer img {
    display: flex;
    object-fit: contain;
    height: 100%;
    width: auto;
}

.hs-context-container {
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hs-context {
    height: 70%;
    width: 100%;
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 5%;
}

.hs-context h1 {
    font-weight: lighter;
    font-size: 60px;
    /* line-height: 60px; */
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


    background: linear-gradient(45deg, transparent, white, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.hs-date-time-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
    gap: 0px;
}

.hs-date-time-wrapper .timeanddateline1,
.hs-date-time-wrapper .timeanddateline2,
.hs-date-time-wrapper .timeanddateline3 {
    display: flex;
    height: 1px;
    margin: auto;
    background-color: #464959;

}

.timeanddateline1 {
    width: 10%;
}


.timeanddateline2 {
    flex: 1;
}

.timeanddateline3 {
    width: 5%;
}

.hs-time-container {
    display: flex;

    padding: 0px 10px;
}


.hs-date-wrapper {
    display: flex;
    width: 10rem;
    justify-content: flex-end;
}

.hs-date-wrapper p,
.hs-time-container p,
.hs-time-container p span {
    text-transform: lowercase;
    display: flex;
    color: white;
    font-size: 15px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;

    letter-spacing: 5px;
    word-spacing: 5px;
}

.hs-time-container p {
    display: flex;



    /* background-color: skyblue; */
}

.hs-section2 {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
}

.hs-headerTag {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    /* background-color: #f8f8f8; */
}

.hs-headerTag h1 {
    font-size: 150px;
    line-height: 150px;
    font-weight: lighter;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-wrap: wrap;

    color: white;
}


.hs-s2-imageWrapper {
    height: auto;
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin: auto;
    justify-content: space-between;
}

.hs-g-imgAndContext {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.hs-s2-imageWrapper .hs-gallery {
    height: auto;
    width: 100%;
    display: flex;
    object-fit: contain;
}

.hs-g-imgAndContext p {
    font-size: 12px;
    display: flex;
    margin: auto;
    text-align: justify;
    word-spacing: 2px;

    color: #f8f8f8;
}

.hs-s2-imageWrapper .hs-gallery1 {
    height: auto;
    width: 250px;
    display: flex;
    object-fit: contain;
}

.hs-section3 {
    display: flex;
    flex-direction: column;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 2%;

    background-color: #f8f8f8;
}

.hs-section3-header {
    justify-content: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hs-section3-header h1 {
    font-size: 100px;
    display: flex;
    margin: auto;
    font-weight: lighter;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hs-section3-header p {
    width: 50%;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
    height: auto;
    display: flex;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    justify-content: center;
    align-items: center;
}

.hs-image-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    width: 100%;
}

.hs-image-wrapper .hs-cards {
    height: auto;
    width: 150px;
    display: flex;
    object-fit: contain;

}

.hs-image-wrapper .hs-active {
    width: 350px;
}

.hs-appointmentBtn {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.hs-appointmentBtn .hs-a-btn {
    width: 80%;
    border: 2px solid #1b1b1b1b;
    background-color: transparent;
    display: flex;
    height: auto;
    width: 80%;

    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    margin: auto;
    cursor: pointer;
}

.hs-appointmentBtn .hs-a-btn::after {
    content: "";
    display: flex;
    height: 20px;
    width: 10px;

    position: absolute;
    background-color: #1b1b1b;
    border-radius: 0px 20px 0px 0px;

    transition: all 350ms ease-in-out;
}

.hs-appointmentBtn .hs-a-btn:hover::after {
    height: 100%;
    width: 100%;
    border-radius: 0px;
}

.hs-appointmentBtn .hs-a-btn h1 {
    width: 100%;
    height: 100%;
    padding: 30px 20px;

    justify-content: center;
    align-items: center;
    font-weight: lighter;
    text-align: center;
    position: relative;
    font-size: 30px;
    display: flex;
    margin: auto;
    z-index: 2;
}


.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;

    width: 60%;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: auto;
    width: 100%;

    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #f8f8f8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #f8f8f8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #f8f8f8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

@media screen and (max-width:900px) {
    .hs-context h1 {
        text-align: left;
    }

    .hs-headerTag h1 {
        font-size: 60px;
        line-height: 60px;
        margin: 10px 0px;
        text-align: center;

    }

    .hs-s2-imageWrapper {
        height: auto;
        width: 80%;
        gap: 20px;
        display: flex;
        align-items: flex-start;
        margin: auto;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .hs-g-imgAndContext {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        object-fit: contain;
    }

    .hs-s2-imageWrapper .hs-gallery1 {
        height: auto;
        width: 80%;
        display: flex;
        object-fit: contain;
    }

    .hs-section3 {
        padding-bottom: 50px;
        display: flex;
    }

    .hs-section3-header {
        justify-content: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .hs-section3-header h1 {
        font-size: 50px;
        display: flex;
        margin: auto;
        font-weight: lighter;
        margin: auto;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .hs-image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        gap: 20px;
    }

    .hs-image-container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .hs-image-container:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .hs-image-wrapper .hs-cards {
        height: auto;
        width: 200px;
        display: flex;
        object-fit: contain;
        left: 0px;
    }

    .hs-image-wrapper .hs-active {
        width: 200px;
        right: 0px;
    }

    .hs-g-imgAndContext p {
        font-size: 15px;
        text-align: center;
        margin: 20px 0px;
    }

    .hs-section {
        background-color: red;
    }
}